<div class="jumbotron text-center">
	<h1>中文學校信息系統</h1>
	<h3>Delaware Chinese School Info System (DCSIS)</h3>

	<div ng-if="!main.loggedIn">
		<p>Login to manage students and users.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage students and users.</p>
		<a href="/users" class="btn btn-primary">Manage Users</a>
		<a href="/students" class="btn btn-primary">Manage Students</a>
		<a href="/parents" class="btn btn-primary">Manage Parents</a>
	</div>
</div>