<!DOCTYPE html>
<html lang="en-us" ng-app="csodApp">
    <head>
        <title>Chinese School of Delaware</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and jQuery via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- load angular via CDN -->
        <script type='text/javascript' src="https://code.angularjs.org/1.5.9/angular.min.js"></script>
        <script type='text/javascript' src="https://code.angularjs.org/1.5.9/angular-route.min.js"></script>
        <script type='text/javascript' src="https://code.angularjs.org/1.5.9/angular-resource.min.js"></script>
        
        <!-- load ng-table -->
        <link rel="stylesheet" href="https://unpkg.com/ng-table@3.0.1/bundles/ng-table.min.css">
        <script src="https://unpkg.com/ng-table@3.0.1/bundles/ng-table.min.js"></script>

        <script type='text/javascript' src="/students/js/script.js"></script>
        
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">中文學校信息系統</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#/students/new">Add a student</a></li>
                    <li><a href="#/students">View all students</a></li>
                    <li><a href="#/login">Login</a></li>
                    <li><a href="#/register">Sign Up</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">
            <div ng-view></div>
		</div>

    </body>
</html>