<div class="page-header">
	<h1>
        Students
		<a href="/students/new" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New Student 
		</a>
	</h1>

</div>

<!--
<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Students...</p>
</div
-->

<table ng-table="student.tableParams" class="table table-condensed table-bordered table-striped">
    <!--'student' is used as the controllerAs name, so we use stu in the following line -->
    <tr ng-repeat="stu in $data">
        <td data-title="'Last name'" filter="{LName: 'text'}" sortable="'LName'">{{stu.LName}}</td>
        <td data-title="'First name'" filter="{FName: 'text'}" sortable="'FName'">{{stu.FName}}</td>
        <td data-title="'Chinese name'" filter="{CName: 'text'}" sortable="'CName'">{{stu.CName}}</td>
        <td data-title="'Date Of Birth'" filter="{DOB: 'text'}" sortable="'DOB'">{{student.parseDate(stu.DOB)}}</td>
        <td data-title="'Grade'" filter="{Grade: 'text'}" sortable="'Grade'">{{stu.Grade}}</td>
        <td data-title="'Age'" filter="{ofYrs: 'number'}" sortable="'ofYrs'">{{stu.ofYrs}}</td>
        <td data-title="'Tuition'" filter="{Tuition: 'number'}" sortable="'Tuition'">{{stu.Tuition}}</td>
        <td data-title="'Check'" filter="{Check: 'number'}" sortable="'Check'">{{stu.Check}}</td>
        <td class='actionBtn'>
            <a href='/students/{{stu.StudentKey}}/edit' class='btn btn-success btn-xs'>Edit</a>
        </td>
        <td class='actionBtn'>
            <button class='btn btn-danger btn-xs' ng-click='student.deleteStudent(stu.StudentKey)'>Delete
        </td>
    </tr>
</table