<div class="panel-body">
    <div class="container" ng-cloak>
        <form>
            <div class="row">
                <div class="form-group">
                    <!--
                    <lable for="studentLastName">Last Name</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: Smith"
                            name="studentLastName" id="studentLastName" ng-model="student.newStudent.contactLastName" style="width:100%"
                            required>

                    <lable for="studentFirstName">First Name</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: John"
                            name="studentFirstName" id="studentFirstName" ng-model="student.newStudent.contactFirstName" style="width:100%"
                            required>

                    <lable for="studentPhone">Phone</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: (302)313-6233"
                            name="studentPhone" id="studentPhone" ng-model="student.newStudent.phone" style="width:100%"
                            required>

                    <lable for="studentAddress">Address</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: 1313 Little Baltimore Road"
                            name="studentAddress" id="studentAddress" ng-model="student.newStudent.addressLine1" style="width:100%"
                            required>

                    <lable for="studentCity">City</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: Newark"
                            name="studentCity" id="studentCity" ng-model="student.newStudent.city" style="width:100%"
                            required>

                    <lable for="studentState">State</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: DE"
                            name="studentState" id="studentState" ng-model="student.newStudent.state" style="width:100%"
                            required>

                    <lable for="studentZipcode">Zip Code</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: 19707"
                            name="studentZipcode" id="studentZipcode" ng-model="student.newStudent.postalCode" style="width:100%"
                            required>

                    <lable for="studentCountry">Country</lable>
                    &nbsp;
                    <input type="text" class="form-control" placeholder="Example: USA"
                            name="studentCountry" id="studentCountry" ng-model="student.newStudent.country" style="width:100%"
                            required>
                    -->
                    <lable for="studentLastName">Last Name</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="studentLastName" data-ng-model="student.newStudent.LName" style="width:100%"
                            required>

                    <lable for="">First Name</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.FName" style="width:100%"
                            required>

                    <lable for="">Chinese Name</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.CName" style="width:100%"
                            required>

                    <lable for="">Date Of Birth</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.DOB" placeholder="Thu Oct 29 00:00:00 UTC 1992" style="width:100%"
                            required>

                    <lable for="">Grade</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.Grade" style="width:100%"
                            required>

                    <lable for="">Age</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.ofYrs" style="width:100%"
                            required>

                    <lable for="">Tuition</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.Tuition" style="width:100%"
                            required>

                    <lable for="">Check</lable>
                    &nbsp;
                    <input type="text" class="form-control"
                            id="" data-ng-model="student.newStudent.Check" style="width:100%"
                            required>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div classs="form-group"> 
                    <button type="button" class="btn btn-primary" ng-click="student.saveStudent()">
		        <span ng-if="!student.processing">Add</span>
                        <span ng-if="student.processing"><span class="glyphicon glyphicon-repeat spinner"></span></span>
                    </button>
                </div>
            </div>
            <div class="row show-hide-message" ng-show="student.message">
                <div classs="form-group"> 
                    <div class="alert alert-info studentFormMessage">
                        {{ student.message }}
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
